.card{
    height: 48pc;
    border-radius: 2pc;
    background-color: rebeccapurple;
    margin-left: 10px;
    height: 25px 25px;
    text-align: center;
    font-weight: 600;
    float: left;
    
    
}
