.card{
    
    border-radius: 2pc;
    background-color: rebeccapurple;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40mm;
    color: white;
    text-align: center;
    float: left;
    border-width: 0pc;

}
