.card{
    height: 48pc;
    border-radius: 2pc;
    background-color: rebeccapurple;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40mm;
    color: white;
    height: 25px 25px;
    text-align: center;
    float: left;

}
